@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.share {
  width: 100%;
  height: 170px;
  box-shadow: 3px 7px 13px -7px #3f3f3f;
  border-radius: 10px;

  &__wrapper {
    padding: 10px;
  }

  &__top {
    display: flex;
    align-items: center;
  }

  &__profile-img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 50%;
    object-fit: cover;
  }

  &__input {
    height: 100%;
    width: 100%;
    min-width: 0;
    border: none;
    box-sizing: border-box;
  }

  &__input:focus {
    outline: none;
  }

  &__hr {
    margin: 20px;
  }

  &__button-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__options {
    display: flex;
    margin-left: 20px;
  }

  &__option {
    display: flex;
    align-items: center;
    margin-right: 15px;
    cursor: pointer;
  }

  &__icon {
    margin-right: 3px;
  }

  &__img-input {
    display: none;
  }

  &__text {
    font-size: 14px;
    font-weight: 550;
  }

  &__button {
    border: none;
    padding: 6px 17px;
    margin-right: 20px;
    border-radius: 5px;
    background-color: #2c517c;
    color: white;
    cursor: pointer;
  }
}
