@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/colors" as *;

.topbar {
  &__container {
    background-color: $colour-mockFacebook-primary;
    padding: 10px;
    @include tablet {
      height: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      position: sticky;
      top: 0;
      z-index: 100;
      padding: 0;
    }
  }
  &__box-left {
    flex: 3;
    text-align: center;
    @include tablet {
      text-align: left;
    }
  }
  &__logo {
    font-size: 24px;
    color: white;
    font-weight: bold;
    margin-left: 32px;
  }

  &__box-center {
    flex: 5;
  }
  &__box-searchbar {
    width: 100%;
    height: 30px;
    margin: 0;
    display: flex;
    align-items: center;
    border-radius: 25px;
    background-color: $colour-mockFacebook-primary-background;
  }
  &__search-icon {
    font-size: 20px !important;
    margin-left: 10px;
    margin-right: 5px;
  }
  &__search-input {
    border: none;
    width: 80%;
  }
  &__search-input:focus {
    outline: none;
  }
  &__box-right {
    flex: 4;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: $colour-mockFacebook-primary-background;
  }
  &__icon-box {
    display: flex;
  }
  &__icon-item {
    position: relative;
    margin-top: 5px;
    margin-right: 15px;
    cursor: pointer;
  }
  &__icon-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -5px;
    right: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    font-size: 10px;
    background-color: $colour-mockFacebook-notification;
    color: $colour-mockFacebook-primary-background;
  }

  &__profile-image {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
  }
}
